In [4]:
#import libraries
import pandas as pd

In [5]:
#load file and drop the class column
file_path = "../data/iris.csv"
irisDF = pd.read_csv(file_path)
#irisDF = irisDF.drop(["class"], axis=1)
def class_conversion(member):
    if member == "Iris-setosa":
        return 0
    elif member == "Iris-versicolor":
        return 1
    else:
        return 2
irisDF["class"] = irisDF["class"].apply(class_conversion)
irisDF.head()

   sepal_length  sepal_width  petal_length  petal_width  class
0           5.1          3.5           1.4          0.2      0
1           4.9          3.0           1.4          0.2      0
2           4.7          3.2           1.3          0.2      0
3           4.6          3.1           1.5          0.2      0
4           5.0          3.6           1.4          0.2      0

In [6]:
#reorder columns
irisDF= irisDF[["sepal_length", "petal_length","class","sepal_width", "petal_width"]]
irisDF.head()

   sepal_length  petal_length  class  sepal_width  petal_width
0           5.1           1.4      0          3.5          0.2
1           4.9           1.4      0          3.0          0.2
2           4.7           1.3      0          3.2          0.2
3           4.6           1.5      0          3.1          0.2
4           5.0           1.4      0          3.6          0.2

In [7]:
#save file to csv
output_file_path="../data/new_iris_data.csv"
irisDF.to_csv(output_file_path, index=False)